{% extends 'core/base.html' %}
{% block title %}
Contacto
{% endblock %}
{% block background %}{% load static %}{% static 'core/img/contacto.jpg' %}{% endblock background %}

{% block headers %}
    <h1>Contacto</h1>
    
{% endblock headers %}



{% block content %}

<div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h1>Estamos a sus ordenes</h1>
          <br>
          <p><i class="fa fa-phone-square fa-2x" aria-hidden="true"> 4900769 </i> </p> 
          <p><i class="fa fa-location-arrow fa-2x" aria-hidden="true">Ext. Mercado Irapuato locales E-24 y E25</i>  </p> 
          <p><i class="fa fa-envelope fa-2x" aria-hidden="true">aguete.rocio@gmail.com</i> </p> 
          <p><i class="fa fa-whatsapp fa-2x"> 462-600-66-82</i></p>           
        </div>
      </div>
    </div>

{% endblock   %}